/panel/web/app/bootstrap.php.cache
/panel/web/app/cache/*
!panel/web/app/cache/.gitkeep
/panel/web/app/config/parameters.yml
/panel/web/app/logs/*
!panel/web/app/logs/.gitkeep
/panel/web/app/phpunit.xml
/panel/web/bin/
/panel/web/composer.phar
/panel/web/composer.lock
/panel/web/vendor/
/panel/web/web/bundles/
